.container {
  display: flex;
}

.inputContainer {
  margin-bottom: 20px;
  width: 30%;
  padding: 20px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.select,
.input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.table {
  border-collapse: collapse;
  width: 80%;
  padding: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}
